.kdyh-cesium-menu {
  min-width: 80px;
  max-width: 300px;
  padding: 2px 0;
  box-sizing: border-box;
  background: #2f446f;
  border: 1px solid #0dfcff;
  color: #dbfaff;
  font-size: 11px;
  position: absolute;
  border-top-right-radius: 6px;
  top: 200px;
  left: 100px;
}

.kdyh-cesium-menu-item {
  min-width: 80px;
  font-size: 14px;
  color: #dbfaff;
  cursor: pointer;
  line-height: 24px;
  box-sizing: border-box;
  padding: 0 6px;
}

.kdyh-cesium-menu-item-icon {
  display: inline-block;
  width: 1.8em;
  padding: left 0.5em;
  text-align: center;
  vertical-align: middle;
}

.kdyh-cesium-menu-item-icon-none {
  display: none;
}

.kdyh-cesium-menu-item-icon>.icon {
  width: 1em;
  height: 1em;
  line-height: 24px;
  fill: #dbfaff;
}

.kdyh-cesium-menu-item:hover {
  background: #2d4d76;

}