.kdyh-cesium-menu{
    min-width: 80px;
    max-width: 300px;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333333;
    font-size: 14px;
    position: absolute;
    border-radius: 4px;    
    top: 200px; 
    left: 200px;
}
.kdyh-cesium-menu-item{
    min-width: 120px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    line-height: 20px;
    padding:4px 10px;
}
.kdyh-cesium-menu-item:hover{
    background: #d1e8f3;

}