.box {
    min-width: 400px;
    // height: 200px;
    background-color: #f0f0f0;
}

.box>img {
    margin-left: 400px;
    width: 100%;
    display: inherit;
}

.box-inline {
    height: 400px;
    width: 1600px;
    position: absolute;
    top: 0px;
    left: 800px;
    background-color: red;
}

.box-inline>img {
    width: 400px;
    height: 400px;
    display: inline-block;
}

.btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 5px 6px;
    border: 1px solid #666;
    color: #666;
    cursor: pointer;

    &:hover {
        background: #0dfcffcc;
    }
}

.line {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid #909090;
    width: 600px;
}

.line-item {
    display: inline-block;
    flex: 1;
    overflow: hidden;
}