
.box{
    width: 400px;
    height: 200px;
    background-color: #f0f0f0;
}
.btn{
    display: inline-block;
    padding: 6px 10px;
    margin: 5px 6px;
    border:1px solid #666;
    color: #666;
    cursor: pointer;
    &:hover{
        background: #0099cccc;
    }
}
.kdyh-cesium-tip{
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #3d3d3d66;
    color: #f0f0f0;
    font-size: 14px;
    position: absolute;
    border-radius: 4px;    
    top: 200px; 
    left: 200px;
    &::after{
        position: absolute;
        top: 10px;
        left: 0;
        content: '';
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent;
        border-right-color: #3d3d3d66;
        transform: translate(-100%,0);

    }
}
